<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Restaurant List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="list$ | async as list; else loading">
    <div *ngFor="let item of list">
      <div>name: {{item.name}}</div>
      <div class="review-list">
        reviews:
        <div *ngFor="let review of item.reviews" class="review-item">
          <div>user: {{review.nickname}}</div>
          <div>comment: {{review.content}}</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="ion-text-center">Loading Restaurant List ...</div>
    <ion-progress-bar class="ion-margin"></ion-progress-bar>
  </ng-template>
</ion-content>
